body {
        margin: 0;
        text-align: center;
      }
      .container {
        matgin: 0;
      }
      .cover-front {
        background: url(assets/images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
      .row {
        border: 2px solid black;
      }
      .col {
        border: 1px solid red;
        text-align: center;
      }
      .img-header {
        width: 150px;
        height: 150px;
        border: 1px solid black;
        border-radius: 50%;
        margin-right: 10px;
        opacity: 0.8;
      }
      .div-header {
        border: 1px solid black;
        display: block;
        width: 490px;
        margin: 0 auto;
      }
      .span-main-content {
        display: block;
        font-size: 120px;
        padding-top: 170px;
        padding-bottom: 170px;
      }
      .span-secondary-content {
        display: block;
        font-size: 80px;
        padding-top: 100px;
        padding-bottom: 100px;
      }